<!DOCTYPE html>

<html lang="en-IN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books</title>
    </head>

    <body>
        <div id="heading">
            <h1>Books by categories</h1>
        </div>

        <hr>
        <hr>

        <div id="index">
            <h2>Index : </h2>
            <ul>
                <li><a href="#biography">Biography</a></li>
                <li><a href="#engineering">Engineering</a></li>
                <li><a href="#enlightment">Enlightment</a></li>
                <li><a href="#history">History</a></li>
                <li><a href="#science">Science</a></li>
                <li><a href="#other">Other</a></li>
            </ul>
        </div>

        <hr>
        <hr>

        <div id="content">

            <div class="category" id="biography">
                <h2><a href="#index">Biography</a></h2>
                <ul>
                    
                    <li>
						<div class="book">
							<h3>Benjamin Franklin : An American Life</h3>
							<ul>
								<li><b>Author</b>: Walter Isaacson</li>
								<li><b>Published Year</b> : 2003</li>
								<li><a href="https://drive.google.com/file/d/1-Y8TPT53ONrk7pcdWGfZr6oytfMVGghg/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Autobiography of Benjamin Franklin (English)</h3>
							<ul>
								<li><b>Author</b>: Benjamin Franklin</li>
								<li><b>Published Year</b> : 1791</li>
								<li><a href="https://drive.google.com/file/d/12o3h7e_fYmhxZkGC3qrD4JlbdlSlRj6X/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Autobiography of Benjamin Franklin (Hindi)</h3>
							<ul>
								<li><b>Author</b>: Benjamin Franklin</li>
								<li><b>Published Year</b> : 1791</li>
								<li><a href="https://drive.google.com/file/d/1-aulvnKbJgH5jNlAjGHif-Bw6ASk_mRW/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Elon Musk</h3>
							<ul>
								<li><b>Author</b>: Ashlee Vance</li>
								<li><b>Published Year</b> : 2015</li>
								<li><a href="https://drive.google.com/file/d/1-pJQVha0InszljrW6O3dacNff63p8AjX/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Steve Jobs</h3>
							<ul>
								<li><b>Author</b>: Walter Isaacson</li>
								<li><b>Published Year</b> : 2011</li>
								<li><a href="https://drive.google.com/file/d/1-uDK8vZSr5zJN2SVM8O3OVtDU6b9s2GE/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Albert Einstein</h3>
							<ul>
								<li><b>Author</b>: Walter Isaacson</li>
								<li><b>Published Year</b> : 2007</li>
								<li><a href="https://drive.google.com/file/d/1-nABAYcp_zbjAPbWhCVW6Dsw6x0yXT5S/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

                </ul>
            </div>

            <hr>

            <div class="category" id="engineering">
                <h2><a href="#index">Engineering</a></h2>
                <ul>

                    <li>
						<div class="book">
							<h3>Applied Minds</h3>
							<ul>
								<li><b>Author</b>: Guru Madhavan</li>
								<li><b>Published Year</b> : 2015</li>
								<li><a href="https://drive.google.com/file/d/1-xUs0eLB4pDFI6qetrrVOIBRNHEnwWzx/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Arithmetic</h3>
							<ul>
								<li><b>Author</b>: Paul Lockhart</li>
								<li><b>Published Year</b> : 2017</li>
								<li><a href="https://drive.google.com/file/d/12dpcstBdiyWP8rNzGas9kcNHcMHbdbtL/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The C programming language</h3>
							<ul>
								<li><b>Author</b>: Biran Kernighan</li>
								<li><b>Published Year</b> : 1978</li>
								<li><a href="https://drive.google.com/file/d/1012G1GB4o2Gx0O6FSSQOHIIesT0jcuy6/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The C++ programming language</h3>
							<ul>
								<li><b>Author</b>: Bjarne Stroustrup</li>
								<li><b>Published Year</b> : 1985</li>
								<li><a href="https://drive.google.com/file/d/108Xk0rvAifgFfKm3N4BYNUOcHf0gcUvZ/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Introduction to programming using Java</h3>
							<ul>
								<li><b>Author</b>: David J Eck</li>
								<li><b>Published Year</b> : 2014</li>
								<li><a href="https://drive.google.com/file/d/108thBTYoqxa18Opo9Lr71zNwLIYvHYJv/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Professional Android</h3>
							<ul>
								<li><b>Author</b>: Reto Mier, Ian Lake</li>
								<li><b>Published Year</b> : 2018</li>
								<li><a href="https://drive.google.com/file/d/10A2gUKgsgIXtgW27RSJwf5G1nQx7vkAx/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Basics of Hacking</h3>
							<ul>
								<li><b>Author</b>: Patrick Engebretson</li>
								<li><b>Published Year</b> : 2011</li>
								<li><a href="https://drive.google.com/file/d/10BA0ivGEjiiNPP9PcaOvWsCxZVVe7v0U/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The book of numbers</h3>
							<ul>
								<li><b>Author</b>: Shakuntala Devi</li>
								<li><b>Published Year</b> : 1984</li>
								<li><a href="https://drive.google.com/file/d/10NMT8wrsBdAzWeSp65I9hKyBOAqywA27/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The full stack developer</h3>
							<ul>
								<li><b>Author</b>: Chris Northwood</li>
								<li><b>Published Year</b> : 2018</li>
								<li><a href="https://drive.google.com/file/d/12oWmbSEXS37h4L5mlO5QApIBPupJh1cG/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The internet book</h3>
							<ul>
								<li><b>Author</b>: Douglas E Comer</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/19nAH4zPRiUDUnL9o1m18mVVCcqXz-S-u/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Write Great Code 1</h3>
							<ul>
								<li><b>Author</b>: Randall Hyde</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/10Tm3bE9mIW9TsjFh05JcXiXI1IFOWruw/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Write Great Code 2</h3>
							<ul>
								<li><b>Author</b>: Randall Hyde</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/10VaO17_v2Z6WR6XXlZbAYDiXYGx-z2jM/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Write Great Code 3</h3>
							<ul>
								<li><b>Author</b>: Randall Hyde</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/10X1ZiDypMXwzEvgW6-ghw1yM6I6IKqQc/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

                </ul>
            </div>

            <hr>

            <div class="category" id="enlightment">
                <h2><a href="#index">Enlightment </a></h2>
                <ul>

                    <li>
						<div class="book">
							<h3>Common Sense</h3>
							<ul>
								<li><b>Author</b>: Thomas Paine</li>
								<li><b>Published Year</b> : 1775</li>
								<li><a href="https://drive.google.com/file/d/12g_QZaH5P-tlTT0iO8XMcbTigz4uNUtS/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Das Kapital</h3>
							<ul>
								<li><b>Author</b>: Karl Marx</li>
								<li><b>Published Year</b> : 1867</li>
								<li><a href="https://drive.google.com/file/d/12gfQf5udXIWk4JJcSzSHgg2pMrgWYC0s/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Ranks</h3>
							<ul>
								<li><b>Author</b>: John Miller</li>
								<li><b>Published Year</b> : 1779</li>
								<li><a href="https://drive.google.com/file/d/10nUWCYdLAjR4Xpbn0H8HbdFmGP-G3CB5/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The theory of moral sentiments</h3>
							<ul>
								<li><b>Author</b>: Adam Smith</li>
								<li><b>Published Year</b> : 1759</li>
								<li><a href="https://drive.google.com/file/d/10kAA4uOh_aV714GUTrk2st1QYt5sQBms/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Wealth of Nations</h3>
							<ul>
								<li><b>Author</b>: Adam Smith</li>
								<li><b>Published Year</b> : 1776</li>
								<li><a href="https://drive.google.com/file/d/10iUBJHgIQZDvqLsHmhQW9lc4BQ2R2O-k/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

                </ul>
            </div>

            <hr>

            <div class="category" id="history">
                <h2><a href="#index">History</a></h2>
                <ul>

                    <li>
						<div class="book">
							<h3>21 Lessons for 21st Century (Hindi)</h3>
							<ul>
								<li><b>Author</b>: Yuval Noah Harrari</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/10se0yEvAiED_omjYfmAJDvajMkTFKZ8A/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>A history of India</h3>
							<ul>
								<li><b>Author</b>: Burton Stein, David Arnold</li>
								<li><b>Published Year</b> : 2011</li>
								<li><a href="https://drive.google.com/file/d/10vekh9osFzZ3dHwlPbbn_jSc2D8SvfPr/view?usp=sharing" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>A Nation of Immigrants</h3>
							<ul>
								<li><b>Author</b>: John F Kennedy</li>
								<li><b>Published Year</b> : 1958</li>
								<li><a href="https://drive.google.com/file/d/10w4AOir9YwlXp_o_gEll3vhHZWm5bg5W/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>A People's history of the United States</h3>
							<ul>
								<li><b>Author</b>: Howard Zinn</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/113CLPwNwogXsFWM_hoMm_TlsVk_R7OF4/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Homo Deus</h3>
							<ul>
								<li><b>Author</b>: Yuval Noah Harrari</li>
								<li><b>Published Year</b> : 2015</li>
								<li><a href="https://drive.google.com/file/d/114E2jYj2io6XyWPP6Rs4RZ_aOycRkozR/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>India, What can it teach us</h3>
							<ul>
								<li><b>Author</b>: Max Muller</li>
								<li><b>Published Year</b> : 1882</li>
								<li><a href="https://drive.google.com/file/d/1Eap9AiLLxP-5_R38E9Bes5QQYl61EtK4/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Krishna : A sourcebook</h3>
							<ul>
								<li><b>Author</b>: Edwin F Bryant</li>
								<li><b>Published Year</b> : 2007</li>
								<li><a href="https://drive.google.com/file/d/116fb8gVeC8CNJ7J3hbkZhg9PKH-q89Nm/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>More</h3>
							<ul>
								<li><b>Author</b>: Philip Coggan</li>
								<li><b>Published Year</b> : 2020</li>
								<li><a href="https://drive.google.com/file/d/12iYRECOjfJtWgkZoCBOjohIIJVgT1i4d/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Sapiens</h3>
							<ul>
								<li><b>Author</b>: Yuval Noah Harrari</li>
								<li><b>Published Year</b> : 2011</li>
								<li><a href="https://drive.google.com/file/d/11RsP-_ooTtf-AexV87lFO-3cy4BM1Rxp/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Sapiens</h3>
							<ul>
								<li><b>Author</b>: Yuval Noah Harrari</li>
								<li><b>Published Year</b> : 2011</li>
								<li><a href="https://drive.google.com/file/d/119ToRikX_IZ7OMAeVYvs8oHr58N5F6md/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Sapiens - A graphic history : 1</h3>
							<ul>
								<li><b>Author</b>: Yuval Noah Harrari</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/11KPsA7r4hKtviKh65lAFA5_u0nTM5mxj/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Sapiens - A graphic history : 2</h3>
							<ul>
								<li><b>Author</b>: Yuval Noah Harrari</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/11PfMU6itC_zXBDH9BubiAPf8IWd6MeVZ/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Anarchy</h3>
							<ul>
								<li><b>Author</b>: William Dalrymople</li>
								<li><b>Published Year</b> : 2019</li>
								<li><a href="https://drive.google.com/file/d/11arq-y5UgJw3gGFsOfXMBGFCqUYO09jt/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>



                </ul>
            </div>

            <hr>

            <div class="category" id="science">
                <h2><a href="#index">Science</a></h2>
                <ul>
                    
                    <li>
						<div class="book">
							<h3>A brief history of time</h3>
							<ul>
								<li><b>Author</b>: Stephen Hawking</li>
								<li><b>Published Year</b> : 1988</li>
								<li><a href="https://drive.google.com/file/d/11vKyqIqRtvue6hNpsgahrAeP53GoYaMj/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Feynman Lectures on Physics</h3>
							<ul>
								<li><b>Author</b>: Richard Feynman</li>
								<li><b>Published Year</b> : 1963</li>
								<li><a href="https://drive.google.com/file/d/11yjyr_f0ubGftnt5U_uiYk9bIXcVcCWV/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The God Delusion</h3>
							<ul>
								<li><b>Author</b>: Richard Dawkins</li>
								<li><b>Published Year</b> : 2006</li>
								<li><a href="https://drive.google.com/file/d/11z24UXxLhu1vtg6zGqn9sbIhy7jxDL8z/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Magic of Reality</h3>
							<ul>
								<li><b>Author</b>: Richard Dawkins</li>
								<li><b>Published Year</b> : 2011</li>
								<li><a href="https://drive.google.com/file/d/122lClJmTuAnMF8hzVQgaM3U36nSYaEMH/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Selfish Gene</h3>
							<ul>
								<li><b>Author</b>: Richard Dawkins</li>
								<li><b>Published Year</b> : 1976</li>
								<li><a href="https://drive.google.com/file/d/125Aa34ywOr_jmvq8xpIKXtPhophND8yu/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

                </ul>
            </div>

            <hr>

            <div class="category" id="other">
                <h2><a href="#index">Other</a></h2>
                <ul>

                    <li>
						<div class="book">
							<h3>Hitchhiker's Guide to the Galaxy</h3>
							<ul>
								<li><b>Author</b>: Douglas Adams</li>
								<li><b>Published Year</b> : 1979</li>
								<li><a href="https://drive.google.com/file/d/11bxxgI25Loq6LGrJjdcFHpETgvqInpLs/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Starry Messenger</h3>
							<ul>
								<li><b>Author</b>: Neil deGrasse Tyson</li>
								<li><b>Published Year</b> : 2022</li>
								<li><a href="https://drive.google.com/file/d/12jjEMwsI0dBUFjQFBXCW4U-nXlCVEVFy/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>Surely Youre Joking</h3>
							<ul>
								<li><b>Author</b>: Richard Feynman</li>
								<li><b>Published Year</b> : 1985</li>
								<li><a href="https://drive.google.com/file/d/11iJqyqESS6YL5BQtwWVvjDh8riBwKraC/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The meaning of it all</h3>
							<ul>
								<li><b>Author</b>: Richard Feynman</li>
								<li><b>Published Year</b> : -</li>
								<li><a href="https://drive.google.com/file/d/12mSM5opZnvS9MMP6nCLljcZbKXg3lTCg/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Demon Haunted World</h3>
							<ul>
								<li><b>Author</b>: Carl Sagan</li>
								<li><b>Published Year</b> : 1995</li>
								<li><a href="https://drive.google.com/file/d/11mfA2YMKsa6I0KM89e-cStvuFJsPvsBx/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The Skeptics guide to the universe</h3>
							<ul>
								<li><b>Author</b>: Steven Novella</li>
								<li><b>Published Year</b> : 2018</li>
								<li><a href="https://drive.google.com/file/d/11sw4MQ1r5AJuLb19JfzOqe6-gOFDJ7M2/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

					<li>
						<div class="book">
							<h3>The world as I see it</h3>
							<ul>
								<li><b>Author</b>: Albert Einstein</li>
								<li><b>Published Year</b> : 1935</li>
								<li><a href="https://drive.google.com/file/d/11uxFP4hBPKxzS3XQjSPMKWXuTKI9yPcP/view?usp=share_link" target="_blank">Download</a></li>
							</ul>
						</div>
					</li>

                </ul>
            </div>

            <hr>

        </div>
    </body>
</html>