<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <script>
            function increment()
            {
                document.getElementById("counter").innerHTML++;
            }

            function decrement()
            {
                document.getElementById("counter").innerHTML--;
            }
        </script>
    </head>
    <body>
        <h1 id="counter">0</h1>

        <button id="increment" type="button" onclick="increment()">Increment</button>
        <button id="decrement" type="button" onclick="decrement()">Decrement</button>
    </body>
</html>