{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello</title>
        <link rel="stylesheet" href="{% static 'dhruv/index.css' %}">
    </head>
    <body>
        
        <h1> <span id="heading">Web Pages</span></h1>

        <hr>

        <p> <a href="/headings">Headings</a> </p>
        <p> <a href="/image">Image</a> </p>
        <p> <a href="/button">Button</a> </p>
        <p> <a href="#">Songs</a> </p>
        <p> <a href="#">Resume</a> </p>
        <p> <a href="#">Books</a> </p>
        <p> <a href="#">Counter</a></p>
        <p> <a href="#">Sasta Google</a></p>

    </body>
</html>