{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume</title>
    </head>
    <body>
        <div id="page">
            <div id="heading">
                <div id="profilepicholder">
                    <img src="{% static 'res/jon_snow.jpg' %}" alt="Profile Picture" id="profilepic">
                </div>
                <div id="contactinfo">
                    <h1>Dhruv Dhaduk</h1>
                    <h3>Contact info : </h3>
                    <ul>
                        <li>Mobile no. : <a href="tel:9974831161" target="_blank">9974831161</a></li>
                        <li>E-mail : <a href="mailto:dhadukd44@gmail.com" target="_blank">dhadukd44@gmail.com</a></li>
                        <li>GitHub : <a href="https://www.github.com/dhruv-dhaduk" target="_blank">dhruv-dhaduk</a></li>
                        <li>LinkedIn : <a href="https://www.linkedin.com/in/dhruvdhaduk" target="_blank">in/dhruvdhaduk</a></li>
                        <li>Twitter : <a href="https://www.twitter.com/dhruv_dhaduk_" target="_blank">@dhruv_dhaduk_</a></li>
                        <li>Instagram : <a href="https://www.instagram.com/dhruvdhaduk.exe" target="_blank">dhruvdhaduk.exe</a></li>
                        <li>Reddit : <a href="https://www.reddit.com/user/dhruvdhaduk" target="_blank">u/dhruvdhaduk</a></li>
                        <li><a href="#">Portfolio</a></li>
                    </ul>
                </div>

                <hr>
                
                <div id="skills">
                    <h3>Skills</h3>
                    <ul>
                        <li>Programming Languages : 
                            <ul>
                                <li>C</li>
                                <li>C++</li>
                                <li>Java</li>
                                <li>XML</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>Python</li>
                            </ul>
                        </li>
                        <li>CSS preprocessors : Sass</li>
                        <li>Frontend Frameworks : 
                            <ul>
                                <li>Bootstrap</li>
                                <li>Tailwind CSS</li>
                                <li>React</li>
                                <li>Native Android</li>
                            </ul>
                        </li>
                        <li>Backend Frameworks : 
                            <ul>
                                <li>Django</li>
                                <li>Node.js</li>
                                <li>Spring boot</li>
                            </ul>
                        </li>
                        <li>Git and GitHub</li>
                        <li>Linux commands and bash</li>
                        <li>Databases : 
                            <ul>
                                <li>MySQL</li>
                                <li>MongoDB</li>
                                <li>Oracle</li>
                                <li>MariaDB</li>
                            </ul>
                        </li>
                        <li>Deploying web apps using AWS EC2</li>
                    </ul>
                </div>
            </div>

            <hr>
            
            <div id="education">
                <h3>Education : </h3>
                <ul>
                    <li>
                        <a href="https://www.ldce.ac.in" target="_blank">L. D. College of Engineering</a> - &#40;2021 - 2025&#41;
                    </li>
                </ul>
            </div>

            <hr>

            <div id="courses">
                <h3>Relevent Courses : </h3>
                <ul>
                    <li>
                        CS50 Introduction to Computer Science
                        <br>
                        <small>by Harvard University from <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x" target="_blank">edX</a></small>
                    </li>
                </ul>
            </div>

            <hr>
            
            <div id="projects">
                <h3>Projects :</h3>
                <ul>
                    <li>Rocket Launching Game
                        <div class="project_discription">
                            <ul>
                                <li>Implemeted a rocket launching game using Scratch programming language.</li>
                                <li>Although the animation used in this game is not quite realistic, but the calculation used here are very close to real Apollo 11 Saturn V launch.</li>
                                <li><a href="https://scratch.mit.edu/projects/727483013/" target="_blank">Click Here</a> to play</li>
                            </ul>
                        </div>
                    </li>

                    <li>Simple Calculator App
                        <div class="project_discription">
                            <ul>
                                <li>Implemented a simple calculator app using Native Android SDK.</li>
                                <li>It has basic calculation functionality like any other calculator app.</li>
                                <li><a href="https://drive.google.com/file/d/1LQaDCnOO9mLfVj32LZc8SVEmu90P2y_D/view?usp=share_link" target="_blank">Click here</a> to download.</li>
                            </ul>
                        </div>
                    </li>

                    <li>Tic Tac Toe Game
                        <div class="project_discription">
                            <ul>
                                <li>Implemented a simple Tic Tac Toe game using Native Android SDK. </li>
                                <li><a href="https://drive.google.com/file/d/1WpHXJFGSQjn0rGcEvp12_sGlOF2cg_gS/view?usp=share_link" target="_blank">Click here</a> to download.</li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

            <hr>
        </div>
    </body>
</html>