{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Songs</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            body {
                background-color: black;
                color: white;
                font-family: sans-serif;
            }

            #heading {
                text-align: center;
            }

            li {
                font-size: 18px;
            }

            img {
                height: 18px;
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <h1 id="heading">Songs</h1>
        <hr>

        <h2>English</h2>

        <ul>
            <li> See You Again <a href="https://youtu.be/RgKAFK5djSk" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
            <li> Fractures <a href="https://youtu.be/ZCu2gwLj9ok" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Rumors <a href="https://youtu.be/kXptPzKNMq4" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Infinity <a href="https://youtu.be/PWqEPKduGm8" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Love me like you do <a href="https://youtu.be/AJtDXIazrMo" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Breakdown <a href="https://youtu.be/CyD8hAjj8L8" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Cheat Codes Sober <a href="https://youtu.be/uODX-okCMX0" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> End of the Night <a href="https://youtu.be/GvB3OzTicQo" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> We Won't be alone <a href="https://youtu.be/Wj_spsP8vFM" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Cold blooded love <a href="https://youtu.be/VFBTWg1vI6E" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Nobody Compares to you <a href="https://youtu.be/QjihRb2E-YA" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Lost sky dreams <a href="https://youtu.be/L7kF4MXXCoA" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Where we started <a href="https://youtu.be/gV8RL2xcmaQ" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Pretty girl <a href="https://youtu.be/WEFJnYMz0Ec" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Don't let me down <a href="https://youtu.be/Io0fBr1XBUA" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Say goodbye <a href="https://youtu.be/rdD-DMTWqU4" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Hall of fame <a href="https://youtu.be/mk48xRzuNvA" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Days like these <a href="https://youtu.be/NVLpJBGVfSw" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Play Date <a href="https://youtu.be/kknKs7cAcO8" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
        </ul>

        <h2>Indian</h2>

        <ul>
            <li> Gori tame manda lidha mohi raj <a href="https://youtu.be/pGG_Zosn-qo" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Natu natu <a href="https://youtu.be/sAzlWScHTc4" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Mast magan <a href="https://youtu.be/xitd9mEZIHk" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Rang sharbaton ka <a href="https://youtu.be/RBCk1SyC1PA" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Deva Deva <a href="https://youtu.be/mNuhKUOD_A0" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Saami Saami <a href="https://youtu.be/vdY5SFZBgnk" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
            <li> Tera yaar hoon main <a href="https://youtu.be/EatzcaVJRMs" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
			<li> Channa ve <a href="https://youtu.be/Fz2U880YW0o" target="_blank"><img src="{% static 'res/youtube.jpg' %}"></a> </li>
        </ul>
    </body> 
</html>

<!-- <li>  <a href="" target="_blank"><img src="../res/youtube.jpg"></a> <a href="" target="_blank"><img src="../res/spotify.png"></a> </li> -->