body{
    background-color: black;
    color: white;
}

button {
    background-color: blue;
    border: blue;
    
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    cursor: none;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

button:hover {
    background-color: orange;
    border: orange;
    width: 190px;
    height: 40px;
    
    color: black;

}
